.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */
.list-item {
  list-style: none;
}

.name-comment-container {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
}

.profile-pic-name-container {
  display: flex;
  /* width: 200px; */
  /* justify-content: space-between; */
}

.profile-pic-container {
  padding: 5px;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  color: #ffffff;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  color: #1e293b;
  font-weight: 600;
}

.time-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #94a3b8;
}

.comment {
  color: #64748b;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.like-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50px;
  border: 0;
  background-color: transparent;
}

.delete-button {
  border: 0;
  background-color: transparent;
}
